a { margin-right: 10mm; 
    background-color: lime;
    font-size: 40px;
    font-weight: 200;
    border-style: dotted;
    border-radius: 60px;
    border-color: mediumslateblue;
    text-decoration: none;
    color: firebrick;  
    }